.hidden {
    display: none;
}

.chatbot-button img {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    cursor: pointer;
}

.chatbot-popup {
    width: 300px;
    min-height: auto;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px; 
}

#sendButton {
    align-self: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

#sendButton:hover {
    background-color: #367c39;
}

.chat-output {
    overflow-y: auto;
    margin-bottom: 0; 
    padding: 10px;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
}

.user-message {
    text-align: right; 
    margin: 5px;
    padding: 5px;
    background-color: #DCF8C6; 
    border-radius: 5px;
    max-width: 80%;
    align-self: flex-end; 
}

.chat-response {
    text-align: left; 
    margin: 5px;
    padding: 5px;
    background-color: #E0E0E0; 
    border-radius: 5px; 
    max-width: 80%;
    align-self: flex-start; 
}
